:root {
  /* yellow */
  --yellow-00: #FFFFFF;
  --yellow-10: #FDF8EC;
  --yellow-20: #FAECC6;
  --yellow-30: #F3D37A;
  --yellow-40: #F0C654;
  --yellow-50: #EDBA2F;
  --yellow-60: #C29927;
  --yellow-70: #97771E;
  --yellow-80: #6C5516;
  --yellow-90: #41330D;

    /* orange */
    --orange-00: #FFF3E9;
    --orange-10: #FFDCBE;
    --orange-20: #FFC492;
    --orange-30: #FFAD67;
    --orange-40: #FF963C;
    --orange-50: #FF7F11;
    --orange-60: #D1680E;
    --orange-70: #A3510B;
    --orange-80: #743A08;
    --orange-90: #462305;
  
    /* red */
    --red-00: #FFEAEA;
    --red-10: #FFC0C1;
    --red-20: #FF9797;
    --red-30: #FF6D6E;
    --red-40: #FF4445;
    --red-50: #FF1A1A;
    --red-60: #D11717;
    --red-70: #A31212;
    --red-80: #740D0D;
    --red-90: #460808;

  /* purple */
  --purple-00: #F0EFF6;
  --purple-10: #D4D1E6;
  --purple-20: #B8B2D6;
  --purple-30: #9C94C6;
  --purple-40: #8075B6;
  --purple-50: #6457A6;
  --purple-60: #524888;
  --purple-70: #40386A;
  --purple-80: #2E284C;
  --purple-90: #1C182E;

  /* grey */
  --grey-00: #F9F8F6;
  --grey-10: #EDEBE6;
  --grey-20: #E1DED5;
  --grey-30: #D5D1C5;
  --grey-40: #C9C4B4;
  --grey-50: #BEB7A4;
  --grey-60: #9C9687;
  --grey-70: #797569;
  --grey-80: #57544B;
  --grey-90: #34322D;
}