:root {
  /* yellow */
  --yellow-00: #FFFFFF;
  --yellow-10: #FDF8EC;
  --yellow-20: #FAECC6;
  --yellow-30: #F3D37A;
  --yellow-40: #F0C654;
  --yellow-50: #EDBA2F;
  --yellow-60: #FFFFFF;
  --yellow-70: #FFFFFF;
  --yellow-80: #FFFFFF;
  --yellow-90: #FFFFFF;

    /* orange */
    --orange-00: #FFF3E9;
    --orange-10: #FFDCBE;
    --orange-20: #FFC492;
    --orange-30: #FFAD67;
    --orange-40: #FF963C;
    --orange-50: #FF7F11;
    --orange-60: #D1680E;
    --orange-70: #A3510B;
    --orange-80: #743A08;
    --orange-90: #462305;
  
    /* red */
    /* --red-00: #FFFFFF;
    --red-10: #FFFFFF;
    --red-20: #FFFFFF;
    --red-30: #FFFFFF;
    --red-40: #FFFFFF;
    --red-50: #FFFFFF;
    --red-60: #FFFFFF;
    --red-70: #FFFFFF;
    --red-80: #FFFFFF;
    --red-90: #FFFFFF; */

  /* purple */
  /* --purple-00: #FFFFFF;
  --purple-10: #FFFFFF;
  --purple-20: #FFFFFF;
  --purple-30: #FFFFFF;
  --purple-40: #FFFFFF;
  --purple-50: #FFFFFF;
  --purple-60: #FFFFFF;
  --purple-70: #FFFFFF;
  --purple-80: #FFFFFF;
  --purple-90: #FFFFFF; */

  /* grey */
  /* --grey-00: #FFFFFF;
  --grey-10: #F9F8F6;
  --grey-20: #FFFFFF;
  --grey-30: #FFFFFF;
  --grey-40: #FFFFFF;
  --grey-50: #FFFFFF;
  --grey-60: #FFFFFF;
  --grey-70: #FFFFFF;
  --grey-80: #FFFFFF;
  --grey-90: #FFFFFF; */
}