:root {
  /* colour-1 */
  --yellow-10: #FFFFFF;
  --yellow-20: #FFFFFF;
  --yellow-30: #F3D37A;
  --yellow-40: #F0C654;
  --yellow-50: #EDBA2F;
  --yellow-60: #FFFFFF;
  --yellow-70: #FFFFFF;
  --yellow-80: #FFFFFF;
  --yellow-90: #FFFFFF;

  /* colour-2 */
  --colour-2-10: #FFFFFF;
  --colour-2-20: #FFFFFF;
  --colour-2-30: #FFFFFF;
  --colour-2-40: #FFFFFF;
  --colour-2-50: #FFFFFF;
  --colour-2-60: #FFFFFF;
  --colour-2-70: #FFFFFF;
  --colour-2-80: #FFFFFF;
  --colour-2-90: #FFFFFF;

  /* colour-3 */
  --colour-3-10: #FFFFFF;
  --colour-3-20: #FFFFFF;
  --colour-3-30: #FFFFFF;
  --colour-3-40: #FFFFFF;
  --colour-3-50: #FFFFFF;
  --colour-3-60: #FFFFFF;
  --colour-3-70: #FFFFFF;
  --colour-3-80: #FFFFFF;
  --colour-3-90: #FFFFFF;

  /* colour-4 */
  --colour-4-10: #FFFFFF;
  --colour-4-20: #FFFFFF;
  --colour-4-30: #FFFFFF;
  --colour-4-40: #FFFFFF;
  --colour-4-50: #FFFFFF;
  --colour-4-60: #FFFFFF;
  --colour-4-70: #FFFFFF;
  --colour-4-80: #FFFFFF;
  --colour-4-90: #FFFFFF;

  /* colour-5 */
  --colour-5-10: #FFFFFF;
  --colour-5-20: #FFFFFF;
  --colour-5-30: #FFFFFF;
  --colour-5-40: #FFFFFF;
  --colour-5-50: #FFFFFF;
  --colour-5-60: #FFFFFF;
  --colour-5-70: #FFFFFF;
  --colour-5-80: #FFFFFF;
  --colour-5-90: #FFFFFF;

  /* grey */
  --grey-10: #F9F8F6;
  --grey-20: #FFFFFF;
  --grey-30: #FFFFFF;
  --grey-40: #FFFFFF;
  --grey-50: #FFFFFF;
  --grey-60: #FFFFFF;
  --grey-70: #FFFFFF;
  --grey-80: #FFFFFF;
  --grey-90: #FFFFFF;
}