/*
For interface design, a practical approach is to simply pick values by hand.
This way ou have total control over which sizes exist,
instead of outsourcing that job to some mathematical formula.

Avoid em units:
Because em units are relative to the current font size, the computed font size
of nested elements is often not actually a value in your scale.
Stick to px or rem units, it’s the only way to guarantee you’re sticking to the system.
*/

/* Quicksand */
/* variants: [`300`, `400`, `500`, `700`] */

/* Montserrat */
/* variants: `300`, `400`, `600`, `700` */

/* Headings */
h1, .title {
  font-weight: 500;
  font-size: var(--s-16);
  letter-spacing: -4px;
  line-height: 0.6;
  font-family: 'Quicksand';
}

h2 {
  font-weight: 500;
  font-size: var(--s-10);
  letter-spacing: -1px;
  font-family: 'Quicksand';
  padding-bottom: var(--s-4);
}

h3 {
  font-weight: 400;
  font-size: var(--s-6);
  letter-spacing: -1px;
  font-family: 'Quicksand';
  padding-bottom: var(--s-6);
}

/* Body */
p, .text {
  font-size: var(--s-5);
  font-weight: 300;
  font-family: 'Overpass';
  letter-spacing: 0.6px;
  color: var(--grey-90);
  padding-bottom: var(--s-6);
  line-height: 1.8;
}

a, .link {
  font-weight: 600;
  color: var(--purple-50);
  font-size: var(--s-5);
  font-family: 'Overpass';
  letter-spacing: 0.6px;
  line-height: 1.8;
  border-bottom: 1px solid var(--grey-20);
  /* text-decoration: underline var(--purple-10); */
}

a:hover, .link:hover {
  border-bottom: 1px solid var(--grey-40);
}

.text-small {
  font-weight: 600;
  letter-spacing: 0.6px;
  font-size: var(--s-3);
  color: var(--grey-80);
}

input {
  font-weight: 500;
  font-size: var(--s-5);
}


/* Media Queries  */
@media screen and (max-width: 1200px) {
  /* Up to that screen width, the following rules apply: */

}

@media screen and (max-width: 992px) {
  /* Up to that screen width, the following rules apply: */

}

@media screen and (max-width: 768px) {
  /* Up to that screen width, the following rules apply: */
  h1, .title {
    font-size: var(--s-12);
    letter-spacing: -3px;
    line-height: 0.8;
  }
}

@media screen and (max-width: 576px) {
  /* Up to that screen width, the following rules apply: */

}



