html, body, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-size: 16px;
  font: inherit;
  line-height: 1.6;
}

*:before, *:after {
	content: '';
	content: none;
}