.user {
  padding-top: var(--s-16);
  padding-bottom: var(--s-10);
}

.user .name {
  font-weight: 400;
  color: var(--yellow-90);
  padding-bottom: var(--s-8);
}

.user .suggestions {
  color: var(--grey-40);
  font-size: var(--s-4);
  padding-bottom: var(--s-4);
}

.user .button {
  background: var(--yellow-10);
  width: fit-content;
  border-radius: var(--s-8);
  padding: 0 var(--s-4);
}

.user .button p {
  color: var(--yellow-60);
  padding: 0;
  font-weight: 600;
  font-size: var(--s-4);
}

/* .banner-placeholder {
  padding-top: var(--s-40);
  padding-bottom: var(--s-10);
} */

.test {
  height: 300px;
  width: 300px;
  background: salmon;
}
 .test-name {
   /* height: 10%; */
   max-width: 100%;
 }

 /* Make text stay in box */
 .test-name p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
 }