#profile-page {
  /* width: 100vw; */
  overflow: hidden;
  position: relative;
}

.user {
  padding-top: var(--s-10);
  padding-bottom: var(--s-10);
}

.user .name {
  font-weight: 300;
  color: var(--yellow-90);
  padding-bottom: var(--s-8);
}

.user .suggestions {
  color: var(--grey-40);
  font-size: var(--s-4);
  padding-bottom: var(--s-4);
}

.user .button {
  background: var(--yellow-10);
  width: fit-content;
  border-radius: var(--s-8);
  padding: 0 var(--s-4);
  transition: all 50ms linear;
}

.user .button p {
  color: var(--yellow-60);
  padding: 0;
  font-weight: 600;
  font-size: var(--s-4);
}

.user .button:hover {
  background: var(--purple-50);
}

.user .button:hover p {
  color: white;
}

#suggestions {
  padding-top: var(--s-32);
  padding-bottom: var(--s-32);
}

#suggestions .column-layout {
  flex-wrap: nowrap;
  z-index: 0;
}

#suggestions .wallpaper {
  width: 50%;
  flex-grow: 0;
  /* max-height: 250px;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap; */
}

#suggestions .songs {
  width: 50%;
  flex-grow: 0;
}

.message {
  color: var(--grey-00);
  font-size: var(--s-58);
  font-weight: 300;
  letter-spacing: -1px;
  font-family: 'Quicksand';
  line-height: var(--s-58);
  z-index: -10;
}

.test {
  height: 300px;
  width: 300px;
  background: salmon;
}
 .test-name {
   /* height: 10%; */
   max-width: 100%;
 }

 /* Make text stay in box */
 .test-name p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
 }

@media screen and (max-width: 992px) {
  /* Up to that screen width, the following rules apply: */
  #suggestions .wallpaper {
    width: 30%;
  }
  
  #suggestions .songs {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  /* Up to that screen width, the following rules apply: */
  #suggestions .wallpaper {
    width: 0%;
    display: none;
  }
  
  #suggestions .songs {
    width: 100%;
  }

}

@media screen and (max-width: 576px) {
  /* Up to that screen width, the following rules apply: */
  #suggestions .wallpaper {
    width: 1%;
  }
  
  #suggestions .songs {
    width: 99%;
  }
}