/* Container */
.container {
  width: 1152px;
  margin-left: auto;
  margin-right: auto;
}

.container-sm {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* Laptop 11 inches */
@media screen and (max-width: 1070px) {
  /* Up to that screen width, the following rules apply: */
  .container {
    width: 750px;
  }
}

/* iPad */
@media screen and (max-width: 850px) {
  /* Up to that screen width, the following rules apply: */
  .container, .container-sm {
    width: 520px;
  }
}

/* Mobile (Iphone, Pixel, Galaxy) */
@media screen and (max-width: 560px) {
  /* Up to that screen width, the following rules apply: */
  .container, .container-sm {
    width: 310px;
  }
}

