/* Container */
.container {
  width: 1152px;
  margin-left: auto;
  margin-right: auto;
}

.container-sm {
  width: 864px;
  margin-left: auto;
  margin-right: auto;
}

/* Media Queries  */
@media screen and (max-width: 1200px) {
  /* Up to that screen width, the following rules apply: */
  .container {
    width: 950px;
  }
}

@media screen and (max-width: 992px) {
  /* Up to that screen width, the following rules apply: */
  .container, .container-sm {
    width: 750px;
  }
}

@media screen and (max-width: 768px) {
  /* Up to that screen width, the following rules apply: */
  .container, .container-sm {
    width: 550px;
  }
}

@media screen and (max-width: 576px) {
  /* Up to that screen width, the following rules apply: */
  .container, .container-sm {
    width: 320px;
  }
}

