/* .email-form {
  width: 100%;
} */

.email-form input {
  height: var(--s-16);
  margin-right: var(--s-1);
  padding: 0 var(--s-8);
  /* border: none; */
}

.email-form ::placeholder {
  color: var(--grey-70);
}

.email-form input[name="name"] {
  width: 29%;
  font-family: 'Quicksand';
  color: var(--gray-70);
  border-radius: var(--s-16) 0 0 var(--s-16);
}

.email-form input[name="email"] {
  width: 49%;
  font-family: 'Quicksand';
  color: var(--gray-70);
}

.email-form input[type="submit"] {
  color: white;
  background: var(--purple-50);
  font-family: 'Quicksand';
  width: 20%;
  border-radius: 0 var(--s-16) var(--s-16) 0;
}





