#home-page {
  overflow: hidden;
}

#home-page .banner.blob-bottom {
  padding-top: var(--s-10);
  padding-bottom: var(--s-20);
}

#hero {
  padding-top: var(--s-24);
  padding-bottom: 0;
}

section {
  padding-bottom: var(--s-58);
}

#hero .title {
  color: white;
}

#hero .title span {
  display: block;
  color: var(--purple-50);
  padding-top: var(--s-8);
  font-family: 'Quicksand';
}

#hero h3 {
  color: var(--purple-80);
  font-size: var(--s-6);
  font-weight: 300;
  padding-top: var(--s-20);
  letter-spacing: 0.5px;
  font-family: 'Overpass';
  /* text-shadow: 0 0 40px var(--grey-00); */
}

#hero .hero-content {
  width: 65%;
}

#hero form {
  padding-top: var(--s-20); 
}

#hero .description {
  padding-top: var(--s-4);
  padding-left: var(--s-8);
}





#problem span {
  padding-bottom: var(--s-6);
  display: block;
}

#problem span p {
  display: inline;
}

.features {
  padding: var(--s-58) 0;
}

.features .text-left {
  width: 75%;
  margin-right: auto;
}

.features .text-right {
  width: 75%;
  margin-left: auto;
}

#problem .solution {
  color: var(--purple-50);
  font-weight: 600;
}







/* Media Queries  */
@media screen and (max-width: 1200px) {
  /* Up to that screen width, the following rules apply: */
  #hero .hero-content {
    width: 80%;
  }

  .features .text-left, .features .text-right {
    width: 85%;
  }
}

@media screen and (max-width: 992px) {
  /* Up to that screen width, the following rules apply: */
  #hero .hero-content {
    width: 100%;
  }

  .features .text-left, .features .text-right {
    width: 100%;
    margin: 0;
  }
  
  section {
    padding-bottom: var(--s-40);
  }

}

@media screen and (max-width: 768px) {
  /* Up to that screen width, the following rules apply: */
  #hero {
    padding-top: var(--s-20);
  }

  #hero .title span {
    padding-top: var(--s-1);
  }

  #hero h3 {
    font-size: var(--s-5);
    padding-top: var(--s-16);
    letter-spacing: 0.3px;
  }

  #hero form {
    padding-top: var(--s-12); 
  }
}

@media screen and (max-width: 576px) {
  /* Up to that screen width, the following rules apply: */
  #hero .description {
    padding-top: var(--s-4);
    padding-left: 0;
    text-align: center;
  }

  #problem a {
    display: none;
  }
}