#hero {
  padding-top: var(--s-40);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

section {
  padding-bottom: var(--s-58);
}

#hero h1 {
  color: white;
}

#hero h1 span {
  display: block;
  color: var(--purple-50);
  padding-top: var(--s-8);
  font-family: 'Quicksand';
}

#hero h3 {
  color: var(--purple-80);
  font-size: var(--s-6);
  font-weight: 300;
  padding-top: var(--s-20);
  letter-spacing: 0.5px;
  font-family: 'Overpass';
  /* text-shadow: 0 0 40px var(--grey-00); */
}

#hero .column-text {
  flex: 0 0 60%;
}


#hero form {
  padding-top: var(--s-20); 
}

#hero .description {
  padding-top: var(--s-4);
  padding-left: var(--s-8);
}



#problem span {
  padding-bottom: var(--s-6);
  display: block;
}

#problem span p {
  display: inline;
}

.features {
  overflow: hidden;
  padding: var(--s-16) 0;
}

.features .text-left {
  width: 75%;
  margin-right: auto;
}

.features .text-right {
  width: 75%;
  margin-left: auto;
}

#problem .solution {
  color: var(--purple-50);
  font-weight: 600;
}