#hero {
  padding-top: var(--s-32);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  min-height: 95vh;
}

#hero h1 {
  color: white;
}

#hero h1 span {
  display: block;
  color: var(--purple-50);
  padding-top: var(--s-8);
  font-family: 'Quicksand';
}

#hero h2 {
  color: var(--grey-70);
  font-size: var(--s-5);
  font-weight: 400;
  padding-top: var(--s-20);
  letter-spacing: 0.2px;
}

#hero .column-text {
  flex: 0 0 55%;
}

#hero .column-image {
  flex: 0 0 45%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* #hero .column-image .svg */

#hero form {
  padding-top: var(--s-20); 
}

#hero .description {
  padding-top: var(--s-4);
  padding-left: var(--s-8);
  /* padding-bottom: var(--s-20); */
  font-size: var(--s-3);
  color: var(--grey-80)
}

#hero .svgs-container {
  width: 350px;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#hero .svgs-container #blob {
  grid-column: 1 / span 10;
  grid-row: 1 / span 10;
}

#hero .svgs-container #music {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}

#hero .svgs-container #headphones {
  grid-column: 8 / span 2;
  grid-row: 4 / span 2;
}

#hero .svgs-container #vinyl {
  grid-column: 6 / span 2;
  grid-row: 7 / span 2;
}