.blob-top {
  border-radius: 60% 60% 0% 0% / 50% 25% 0% 0%;
}

.blob-bottom {
  border-radius: 0% 0% 60% 60% / 0% 0% 50% 25%;
}


@media screen and (max-width: 768px) {
  /* Up to that screen width, the following rules apply: */

  .banner.blob-bottom {
    border-radius: 0% 0% 60% 60% / 0% 0% 20% 10%;
  }

  .banner.blob-top {
    border-radius: 60% 60% 0% 0% / 20% 10% 0% 0%;
  }
}