.footer {
  padding: var(--s-20) 0;
}

.footer .footer-content {
  padding-bottom: var(--s-8);
  text-align: center;
}

.footer h3 {
  letter-spacing: -0.5px;
  padding-bottom: var(--s-2);
  color: var(--purple-60);
  font-weight: 500;
}

.footer p {
  color: var(--purple-90);
}

