.footer {
  padding: var(--s-20) 0;
}

.footer .footer-content {
  padding-bottom: var(--s-8);
  text-align: center;
}

.footer h2 {
  font-size: var(--s-8);
  letter-spacing: -0.5px;
  padding-bottom: var(--s-2);
  color: var(--purple-60);
}

.footer p {
  color: var(--purple-90);
}

