.footer {
  overflow-x: hidden;
}

.footer .banner {
  padding: var(--s-32) 0;
}

.footer .footer-content {
  padding-bottom: var(--s-8);
  text-align: center;
}

.footer h3 {
  letter-spacing: -0.5px;
  padding-bottom: var(--s-2);
  color: white;
  font-weight: 500;
}

.footer p {
  color: var(--purple-70);
  font-size: var(--s-6);
  font-weight: 300;
  letter-spacing: 0.5px;
  font-family: 'Overpass';
}

