.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  overflow: hidden;
}

.navbar a {
  border-bottom: none;
}

.navbar-content {
  position: relative;
}

#logo {
  width: var(--s-32);
  fill: red;
  padding: var(--s-6) 0;
}