.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.navbar-content {
  position: relative;
}

.navbar a {
  border-bottom: transparent;
}

#logo {
  width: var(--s-32);
  fill: red;
  margin-top: var(--s-6);
}