.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  overflow: hidden;
}

.navbar a {
  border-bottom: none;
}

.navbar-content {
  position: relative;
}

#logo {
  width: var(--s-32);
  padding: var(--s-6) 0;
}


@media screen and (max-width: 1200px) {
  /* Up to that screen width, the following rules apply: */
}

@media screen and (max-width: 992px) {
  /* Up to that screen width, the following rules apply: */
}

@media screen and (max-width: 768px) {
  /* Up to that screen width, the following rules apply: */
  #logo {
    padding: var(--s-4) 0;
  }
}

@media screen and (max-width: 576px) {
  /* Up to that screen width, the following rules apply: */
}