.email-form input {
  height: var(--s-16);
  margin-right: var(--s-1);
  padding: 0 var(--s-8);
}

/* .email-form input:required {
  border: 1px solid var(--purple-40);
} */

.email-form input:required {
  box-shadow: none;
}

.email-form input:focus {
  outline: none;
}

.email-form ::placeholder {
  color: var(--grey-70);
}

.email-form .name {
  width: 30%;
  font-family: 'Quicksand';
  font-size: var(--s-4);
  color: var(--gray-70);
  border-radius: var(--s-16) 0 0 var(--s-16);
}

.email-form .email {
  width: 45%;
  font-family: 'Quicksand';
  font-size: var(--s-4);
  color: var(--gray-70);
}

.email-form .button {
  color: white;
  background: var(--purple-50);
  font-family: 'Quicksand';
  font-weight: 500;
  font-size: var(--s-5);
  width: 23%;
  border-radius: 0 var(--s-16) var(--s-16) 0;
  cursor: pointer;
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.email-form .button:hover {
  background: var(--purple-60);
}

/* Media Queries  */
@media screen and (max-width: 1200px) {
  /* Up to that screen width, the following rules apply: */
}

@media screen and (max-width: 992px) {
  /* Up to that screen width, the following rules apply: */
}

@media screen and (max-width: 768px) {
  /* Up to that screen width, the following rules apply: */
}

@media screen and (max-width: 576px) {
  /* Up to that screen width, the following rules apply: */
  .email-form .input {
    display: block;
    width: 100%;
    border-radius: var(--s-16);
    margin-top: var(--s-2);
  }

  .email-form .button {
    text-align: center;
  }
}
