.track {
  position: relative;
  background: white;
  border-radius: var(--s-3);
  overflow: hidden;
  box-shadow: 0 0 var(--s-6) rgba(80, 80, 80, 0.1);
  transition: all 500ms cubic-bezier(0.2, 0.8, 0.2, 1);
  z-index: 10;
}

.track:hover {
  transform: translateY(-5px);
}

.track:hover .artwork {
  background-position: right 50%;
}

.track .artwork {
  position: absolute;
  width: 120%;
  top: 0;
  left: -18%;
  height: var(--s-58);
  z-index: -10;
  background-position: right 20%;
  background-size: 85% auto;
  backgroun-repeat: no-repeat;
  transition: background-position 2s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.track .header {
  height: var(--s-40);
  width: 100%;
  background-image: linear-gradient(rgba(52, 50, 45, 0.8), rgba(52, 50, 45, 0.01));
  margin-bottom: var(--s-24);
}

.track .header-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.track #date {
  color: var(--grey-00);
  font-weight: 300;
  font-size: var(--s-4);
}

.track #rank {
  font-size: var(--s-8);
  color: var(--grey-40);
  font-weight: 100;
}

.track-container {
  padding: var(--s-8) var(--s-10);
}

.track .body .title {
  color: var(--grey-80);
  font-weight: 500;
  font-size: var(--s-10);
  font-family: 'Overpass';
  padding-top: var(--s-2);
  padding-bottom: var(--s-4);
  letter-spacing: 0;
  /* max-width: 100%; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.track .body .artist {
  font-size: var(--s-4);
  font-weight: 400;
  font-family: 'Quicksand';
  color: var(--grey-60);
  padding-top: var(--s-2);
  padding-bottom: 0;
}

.track .body .details {
  font-size: var(--s-4);
  font-weight: 400;
  font-family: 'Quicksand';
  color: var(--grey-50);
  padding-bottom: 0;
}

.track .body .footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.track .body .recipe {
  padding-bottom: 0;
  font-family: 'Quicksand';
  font-size: var(--s-5);
  font-weight: 500;
  color: var(--yellow-50);
  letter-spacing: -1px;
}

